.header {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 50;

  // Підложка для затемнення єкрану при натсканні
  // на кнопки і появі "випадашок"
  &::before {
    content: "";
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 2;
  }

  .cart-open &,
  .catalog-open & {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  // .header__top
  &__top {
    background-color: $lightColor;
    position: relative;
    z-index: 6;

    @media (max-width: toEm(991.98)) {
      position: fixed;
      block-size: 100%;
      inline-size: 100%;

      inset-inline-start: -100%;
      inset-block-end: 0;
      overflow: auto;
      background-color: #fff;
      transition: all 0.5s;

      .menu-open & {
        inset-inline-start: 0;
      }
    }
  }

  // .header__body
  &__body {}

  // .header__bottom
  &__bottom {
    transition: all 0.3s;

    @media (min-width: toEm(992)) {

      .cart-open &,
      .catalog-open & {
        filter: blur(toRem(2));
      }
    }
  }
}

.top-header {

  // .top-header__container
  &__container {
    display: flex;

    @media (min-width: toEm(992)) {
      gap: toRem(20);
      justify-content: space-between;
      align-items: center;
      padding-block: toRem(15);
    }

    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      padding-block-start: toRem(100);
      padding-block-end: toRem(30);
      gap: toRem(25);
    }

    @media (max-width: toEm(699.98)) {
      padding-block-start: toRem(80);
    }
  }

  // .top-header__menu
  &__menu {}

  // .top-header__actions
  &__actions {}
}

.menu {

  // .menu__body
  &__body {}

  // .menu__list
  &__list {
    display: flex;

    @media (min-width: toEm(992)) {
      flex-wrap: wrap;
      column-gap: toRem(30);
      row-gap: toRem(5);
    }

    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      row-gap: toRem(15);
    }
  }

  // .menu__item
  &__item {}

  // .menu__link
  &__link {
    color: $greyColor;
    line-height: 1.875;
    /* 30/16 */
    transition: text-decoration 0.4s;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: toEm(991.98)) {
      font-size: toRem(20);
      line-height: 1.2;
    }
  }
}

.actions-top-header {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  column-gap: toRem(20);
  row-gap: toRem(10);

  @media (max-width: toEm(991.98)) {
    justify-content: space-between;
  }

  // .actions-top-header__social
  &__social {}

  // .actions-top-header__lang
  &__lang {}
}

.lang-header {
  position: relative;

  // .lang-header__current
  &__current {
    position: relative;
    z-index: 2;
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.263158;
    /* 24/19 */
    color: $greyColor;
    transition: color 0.8s;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &::before {
      width: toRem(24);
      height: toRem(24);
      font-size: toRem(11);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .--active & {
      color: $yellowColor;

      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  // .lang-header__list
  &__list {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-block: toRem(10);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    pointer-events: none;

    &::before {
      content: "";
      box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
      border-radius: toRem(8);
      position: absolute;
      width: calc(100% + toRem(10));
      height: calc(100% + toRem(34));
      top: toRem(-34);
      padding-block-start: toRem(34);
      left: toRem(-5);
      background-color: #fff;
      transition: transform 0.4s;
    }

    .--active & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  // .lang-header__item
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .lang-header__link
  &__link {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.263158;
    /* 24/19 */
    color: $greyColor;
    transition: color 0.4s;

    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      .lang-header__current {
        color: $yellowColor;

        &::before {
          transform: rotate(-180deg);
        }
      }

      .lang-header__list {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

//================================
//Burger Icon
.icon-menu {
  display: none;

  @media (max-width: toEm(991.98)) {
    display: block;
    flex: 0 0 toRem(30);
    max-width: toRem(30);
    height: toRem(18);
    position: relative;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2.5);
      background-color: $greyColor;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;

      .menu-open & {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
    }

    &::after {
      bottom: 0;

      .menu-open & {
        bottom: calc(50% - toRem(2));
        transform: rotate(45deg);
      }
    }

    span {
      top: calc(50% - toRem(1));

      .menu-open & {
        transform: scale(0);
      }
    }

    @media (max-width: toEm(991.98)) {
      flex-shrink: 1;
    }
  }
}

//====Body-header==========
.body-header {
  position: relative;
  z-index: 5;
  background-color: #fff;

  @media (max-width: toEm(991.98)) {
    z-index: 7;

    .menu-open & {
      border-bottom: toRem(2) solid #f8f8f8;
    }
  }

  // .body-header__container
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    padding-block: toRem(27);
    gap: toRem(30);

    @media (max-width: toEm(1159.98)) {
      gap: toRem(15);
    }

    @media (max-width: toEm(991.98)) {
      padding-block: toRem(10);
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }

    @media (max-width: toEm(579.98)) {
      padding-block: toRem(5);
    }
  }

  // .body-header__icon-menu
  &__icon-menu {
    @media (max-width: toEm(1159.98)) {}
  }

  // .body-header__logo
  &__logo {
    flex-shrink: 0;
    margin-inline-end: toRem(5);

    @media (max-width: toEm(1159.98)) {
      margin-inline-end: toRem(0);
      inline-size: toRem(200);
    }

    @media (max-width: toEm(479.98)) {
      inline-size: toRem(170);
    }
  }

  // .body-header__catalog
  &__catalog {}

  // .body-header__search
  &__search {
    flex-grow: 1;

    @media (max-width: toEm(579.98)) {
      flex-grow: 0;
    }
  }

  // .body-header__contacts
  &__contacts {
    flex-shrink: 0;
  }

  // .body-header__actions
  &__actions {
    flex-shrink: 0;
  }
}

.catalog-header {

  // .catalog-header__button
  &__button {
    padding-inline: toRem(22);
    gap: toRem(10);

    .button__icon {
      span {
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        top: 0;
        left: 0;
        font-size: toRem(20);
        transition: transform 0.3s, opacity 0.3s;

        &:first-child {}

        &:last-child {
          opacity: 0;
        }

        .catalog-open & {

          // transform: rotate(-180deg);
          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }
      }
    }

    @media (max-width: toEm(1159.98)) {
      padding-inline: toRem(18);
    }

    @media (max-width: toEm(579.98)) {
      inline-size: 100%;
    }

    @media (max-width: toEm(479.98)) {
      padding-block: toRem(8);
    }
  }

  // .catalog-header__items
  &__items {}

  @media (max-width: toEm(579.98)) {
    inline-size: 100%;
    flex-grow: 1;
  }
}

.button-catalog-header {}

:root {
  --menu-catalog-top: 0px;
}

.items-catalog-header {
  position: absolute;
  block-size: calc(100dvh - var(--menu-catalog-top));
  inset-inline-start: 0;
  inline-size: 100%;
  overflow-y: auto;
  inset-block-start: calc(100% + toRem(17));

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @media (max-width: toEm(991.98)) {
    inset-block-start: calc(100% + toRem(27));
  }

  @media (min-width: toEm(992)) {
    border-radius: toRem(8);
  }

  .catalog-open & {
    opacity: 1;
    visibility: visible;
  }

  // .items-catalog-header__wrapper
  &__wrapper {
    position: absolute;
    inset-block-start: 0;
    max-width: toRem(300);
    inline-size: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      background-color: #fff;
      z-index: 2;
      inline-size: 100%;
      block-size: toRem(10);
    }

    &::before {
      inset-block-start: 0;

      @media (min-width: toEm(992)) {
        border-radius: toRem(8) toRem(8) 0 0;
      }
    }

    &::after {
      inset-block-end: 0;

      @media (min-width: toEm(992)) {
        border-radius: toRem(8) toRem(8) 0 0;
      }
    }

    @media (max-width: toEm(991.98)) {
      max-width: 100%;
    }

    @media (min-width: toEm(992)) {
      inset-inline-start: toRem(10);
    }
  }

  // .items-catalog-header__list
  &__list {
    position: relative;
    background-color: #fff;
    border-radius: toRem(8);
    padding-block: toRem(10);

    @media (any-hover: hover) {
      &:hover {
        border-radius: toRem(8) 0 0 toRem(8);
      }
    }

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      inset-block-start: toRem(10);
      inset-inline-end: 0;
      block-size: calc(100% - toRem(20));
      transition: inline-size 0.2s;
      background-color: $yellowColor;
      z-index: 3;
      inline-size: toRem(0);
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          inline-size: toRem(5);
        }
      }
    }
  }

  // .items-catalog-header__item
  &__item {
    min-height: toRem(60);
    display: grid;
    grid-template-columns: 1fr toRem(24);

    @media (any-hover: hover) {
      &:hover {

        .items-catalog-header__link,
        .items-catalog-header__more {
          background-color: $yellowColor;
          color: $mainColor;
        }

        .items-catalog-header__sub-menu {
          inset-inline-start: 100%;
          pointer-events: all;
          inline-size: 100%;
          border-radius: 0 toRem(8) toRem(8) 0;
        }
      }
    }

    @media (min-width: toEm(992)) {
      padding-inline-end: toRem(15);
    }
  }

  // .items-catalog-header__link
  &__link {
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding-inline-start: toRem(30);
    display: grid;
    flex-grow: 1;
    grid-template-columns: toRem(40) 1fr;
    grid-template-rows: toRem(60);
    gap: toRem(15);
    align-items: center;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s;

    @media (max-width: toEm(991.98)) {
      padding-inline-start: toRem(15);

      .--active & {
        background-color: $yellowColor;
      }
    }

    @media (min-width: toEm(992)) {
      margin-inline-end: toRem(-39);
    }
  }

  // .items-catalog-header__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: toRem(40);
  }

  // .items-catalog-header__text
  &__text {
    // padding-inline-end: toRem(5);
    padding-inline-end: toRem(44);
    flex-grow: 1;
  }

  // .items-catalog-header__more
  &__more {
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: $yellowColor;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      font-size: toRem(13);
    }

    @media (max-width: toEm(991.98)) {
      padding-inline-end: toRem(15);
    }

    @media (min-width: toEm(992)) {
      pointer-events: none;

      &::before {
        font-size: toRem(13);
        transform: rotate(-90deg);
      }
    }

    &::before {
      .--active & {
        color: $mainColor;
        transform: rotate(-90deg);
      }
    }

    .--active & {
      background-color: $yellowColor;
    }
  }

  // .items-catalog-header__sub-menu
  &__sub-menu {
    background-color: #fff;
    transition: all 0.3s;

    @media (min-width: toEm(992)) {
      position: absolute;
      pointer-events: none;
      border-radius: toRem(8);
      inset-inline-start: 0;
      padding-block: toRem(10);
      block-size: 100%;
      inline-size: 80%;
      inset-block-start: 0;
      overflow: hidden;
    }

    @media (max-width: toEm(991.98)) {
      display: none;

      .--active & {
        display: block;
      }
    }
  }

  // .items-catalog-header__sub-list
  &__sub-list {
    @media (min-width: toEm(992)) {
      position: absolute;
      padding-inline: toRem(30);
      padding-block: toRem(20);
      overflow: auto;
      block-size: calc(100% + toRem(20));
      inline-size: 100%;
      inset-inline-start: 0;
      inset-block-start: toRem(10);
    }

    @media (max-width: toEm(991.98)) {
      padding-inline: toRem(15);
    }
  }

  // .items-catalog-header__sub-item
  &__sub-item {
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  // .items-catalog-header__sub-link
  &__sub-link {
    font-size: toRem(19);
    line-height: 1.5;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.search-header {

  // .search-header__body
  &__body {
    block-size: toRem(50);
    position: relative;

    @media (max-width: toEm(579.98)) {
      block-size: toRem(70);
      position: absolute;
      background-color: #fff;
      inline-size: 100%;
      inset-inline-start: 0;
      inset-block-start: 110%;
      padding-block: toRem(10);
      padding-inline: toRem(15);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;

      .search-open & {
        inset-block-start: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //.search-header__input
  &__input {
    border-radius: toRem(8);
    border: toRem(1) solid $greyLightColor;
    height: 100%;
    padding-inline-start: toRem(15);
    padding-inline-end: toRem(50);

    &::placeholder {
      color: $greyLightColor;
      line-height: 1.875;
      /* 30/16 */
    }
  }

  // .search-header__open
  &__open {
    display: none;

    @media (max-width: toEm(579.98)) {
      border: toRem(2) solid $yellowColor;
      block-size: toRem(50);
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
      display: block;
      position: relative;
      color: $greyColor;
      transition: all 0.4s;

      span {
        // block-size: toRem(23);
        aspect-ratio: 1 / 1;
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s;

        &::before {
          font-size: toRem(23);

          @media (max-width: toEm(479.98)) {
            font-size: toRem(18);
          }
        }

        &:first-child {}

        &:last-child {
          transform: translate(-50%, -50%) scale(0);
        }

        .search-open & {
          &:first-child {
            transform: translate(-50%, -50%) scale(0);
          }

          &:last-child {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: $yellowColor;
          color: #fff;
        }
      }

      @media (max-width: toEm(479.98)) {
        inline-size: toRem(40);
        block-size: toRem(40);
      }
    }
  }

  // .search-header__button
  &__button {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: toRem(55);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(24);

    @media (max-width: toEm(579.98)) {
      inset-inline-end: toRem(16);
    }
  }
}

.contacts-header {
  position: relative;

  @media (max-width: toEm(991.98)) {
    justify-self: end;
    flex-shrink: 0;
  }

  // .contacts-header__current
  &__current {
    position: relative;
    z-index: 2;
  }

  // .contacts-header__list
  &__list {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    padding-block-start: toRem(10);
    padding-inline-start: toRem(60);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: toRem(-20); // це типу left
      inset-block-start: toRem(-80); // це типу top
      inline-size: calc(100% + toRem(44)); // це типу width
      block-size: calc(100% + toRem(90)); // це типу height
      border-radius: toRem(8);
      box-shadow: 0px 0px toRem(15) 0px rgba(0, 0, 0, 0.12);
      background-color: #fff;
    }

    .--active & {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: toEm(1159.98)) {
      padding-inline-start: toRem(0);
    }

    @media (max-width: toEm(699.98)) {
      min-width: toRem(200);
      inset-inline-start: auto;
      inset-inline-end: 0;
    }
  }

  // .contacts-header__item
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-block-end: toRem(7);
    }
  }

  // .contacts-header__link
  &__link {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.4;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__callme {
    color: $yellowColor;
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.4;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.current-contacts-header {
  display: flex;
  align-items: center;
  gap: toRem(10);

  // .current-contacts-header__phone-icon
  &__phone-icon {
    inline-size: toRem(50);
    background-color: $lightColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    font-size: toRem(23);
    color: $greyColor;

    @media (max-width: toEm(1159.98)) {
      display: none;
    }
  }

  // .current-contacts-header__body
  &__body {}

  // .current-contacts-header__schedule
  &__schedule {
    display: block;
    font-size: toRem(13);
    color: $greyColor;
    font-weight: 300;
    line-height: 1.692308;

    /* 22/13 */
    @media (max-width: toEm(699.98)) {
      display: none;
    }
  }

  // .current-contacts-header__phone
  &__phone {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.4;

    &::before {
      display: none;
      inline-size: toRem(50);
      background-color: $lightColor;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1;
      font-size: toRem(23);
      color: $greyColor;
      font-weight: 400;
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: toEm(700)) {
      font-size: toRem(0);

      &::before {
        display: flex;
      }
    }

    @media (max-width: toEm(479.98)) {
      &::before {
        inline-size: toRem(40);
      }
    }
  }

  // .current-contacts-header__arrow
  &__arrow {
    inline-size: toRem(24);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    transition: transform 0.4s;

    span {
      position: absolute;
      top: 0;
      left: 0;
      inline-size: 100%;
      block-size: 100%;
      font-size: toRem(11);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s, opacity 0.3s;

      &:first-child {
        opacity: 1;
      }

      &:last-child {
        // transform: translate(0px, 100%);
        opacity: 0;
      }
    }

    .--active & {
      span {
        transform: rotate(-90deg);

        &:first-child {
          // transform: translate(0px, -100%);
          opacity: 0;
        }

        &:last-child {
          // transform: translate(0px, 0%);
          opacity: 1;
        }
      }
    }

    @media (max-width: toEm(699.98)) {
      display: none;
    }
  }
}

.actions-body-header {
  display: flex;
  align-items: center;
  gap: toRem(20);
  // position: relative;

  // .actions-body-header__item
  &__item {
    inline-size: toRem(50);
    block-size: toRem(50);
    border: toRem(2) solid $yellowColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    transition: all 0.4s;

    &::before {
      font-size: toRem(25);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
        color: #fff;
      }
    }

    @media (max-width: toEm(479.98)) {
      inline-size: toRem(40);
      block-size: toRem(40);

      &::before {
        font-size: toRem(18);
      }
    }
  }

  @media (max-width: toEm(1159.98)) {
    gap: toRem(10);
  }

  // .actions-body-header__cart
  &__cart {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    position: absolute;
    inset-inline-end: 0;
    inline-size: 100%;
    inline-size: 100%;
    padding: toRem(30);
    inset-block-start: calc(100% + toRem(17));

    @media (min-width: toEm(992)) {
      max-width: toRem(520);
      border-radius: toRem(8);
    }

    @media (max-width: toEm(991.98)) {
      padding: toRem(15);
      inset-block-start: calc(100% + toRem(22));
    }

    @media (max-width: toEm(580)) {
      inset-block-start: calc(100% + toRem(15));
    }

    .cart-open & {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cart-header {
  border-radius: toRem(8);
  background-color: #fff;
  box-shadow: toRem(-3) toRem(4) toRem(15) 0px rgba(0, 0, 0, 0.06);

  // .cart-header__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-block-end: toRem(40);
    }
  }

  // .cart-header__title
  &__title {
    font-size: toRem(26);
    font-weight: 600;
    line-height: 1.307692;
    /* 34/26 */
    display: flex;
    align-items: center;
    gap: toRem(10);

    span {
      color: $yellowColor;
    }
  }

  // .cart-header__close
  &__close {
    inline-size: toRem(24);
    block-size: toRem(24);
    flex-shrink: 0;
    grid-row: span 2;

    &::before {
      font-size: toRem(16);
    }
  }

  // .cart-header__items
  &__items {
    overflow-y: auto;
    block-size: calc(100vh - toRem(480));

    @media (max-width: toEm(991.98)) {
      block-size: calc(100vh - toRem(415));
    }

    @media (max-width: toEm(699.98)) {
      block-size: calc(100vh - toRem(400));
    }

    @media (max-width: toEm(580)) {
      block-size: calc(100vh - toRem(385));
    }
  }

  // .cart-header__item
  &__item {}

  // .cart-header__footer
  &__footer {
    display: grid;
    gap: toRem(20);
    padding-block-start: toRem(30);

    @media (max-width: toEm(430)) {
      gap: toRem(15);
    }
  }

  // .cart-header__checkout
  &__checkout {}

  // .cart-header__continue
  &__continue {}
}

.item-cart-header {
  display: grid;
  grid-template-columns: toRem(120) 1fr toRem(24);
  column-gap: toRem(20);
  row-gap: toRem(16);

  @media (max-width: toEm(430)) {
    grid-template-columns: toRem(100) 1fr toRem(24);
    column-gap: toRem(15);
  }

  &:not(:last-child) {
    border-bottom: toRem(2) solid rgba(197, 197, 197, 0.33);
    padding-block-end: toRem(30);
    margin-block-end: toRem(30);
  }

  // .item-cart-header__link-image
  &__link-image {
    align-self: flex-start;
    border-radius: toRem(8);
  }

  // .item-cart-header__image
  &__image {
    aspect-ratio: 120 / 100;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    border-radius: toRem(8);
  }

  // .item-cart-header__body
  &__body {}

  // .item-cart-header__close
  &__close {
    block-size: toRem(24);
    inline-size: toRem(24);
    border-radius: 50%;
    border: toRem(2) solid $yellowColor;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    transition: background-color 0.3s;

    &::before {
      font-size: toRem(8);
      font-weight: 600;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
      }
    }
  }

  // .item-cart-header__size
  &__size {
    margin-bottom: toRem(10);
    font-size: toRem(13);
    font-weight: 300;
    line-height: 1.692308;
    /* 22/13 */
    color: $greyColor;
  }

  // .item-cart-header__title
  &__title {
    margin-bottom: toRem(10);
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.263158;
    /* 24/19 */
    transition: text-decoration 0.4s;

    @media (max-width: toEm(375)) {
      font-size: toRem(17);
    }
  }

  // .item-cart-header__link-title
  &__link-title {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .item-cart-header__stock
  &__stock {
    font-size: toRem(13);
    font-weight: 300;
    line-height: 1.692308;
    /* 22/13 */
    display: flex;
    column-gap: toRem(5);

    &::before {
      color: #82b09d;
      font-size: toRem(20);
    }
  }

  // .item-cart-header__quantity
  &__quantity {
    @media (max-width: toEm(430)) {
      padding-inline: toRem(5);
    }
  }

  // .item-cart-header__price
  &__price {}

  // .item-cart-header__close
  &__close {}
}

.price-item-cart-header {
  display: flex;
  column-gap: toRem(20);
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  // .price-item-cart-header__old
  &__old {
    font-size: toRem(15);
    line-height: 1.466667;
    /* 22/15 */
    color: $redColor;
    text-decoration: line-through;
  }

  &--bold {
    .price-item-cart-header__old {
      font-weight: 600;
    }
  }

  // .price-item-cart-header__current
  &__current {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.3;
    /* 28/20 */
  }

  @media (max-width: toEm(670)) {
    flex-direction: column-reverse;

    .price-item-cart-header__current {
      font-size: toRem(30);
      line-height: 1.333333;
      /* 40/30 */
    }

    .price-item-cart-header__old {
      font-size: toRem(20);
      line-height: 1.4;
      /* 28/20 */
    }
  }

  @media (max-width: toEm(375)) {
    flex-wrap: wrap;
  }
}

//====Bottom-header==========
.bottom-header {
  background-color: #fff;
  border-top: 2px solid #f8f8f8;
  padding-block: toRem(18);

  @media (max-width: toEm(991.98)) {
    position: relative;
    z-index: 4;
  }

  // .bottom-header__container
  &__container {
    position: relative;

    @media (max-width: toEm(991.98)) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(15);
    }

    @media (max-width: toEm(579.98)) {
      gap: toRem(10);
    }
  }

  // .bottom-header__menus
  &__menus {
    display: flex;

    @media (min-width: toEm(992)) {
      align-items: center;
      justify-content: space-between;
      column-gap: toRem(20);
      row-gap: toRem(10);
    }

    @media (max-width: toEm(991.98)) {
      flex-direction: column-reverse;
      gap: toRem(25);
    }
  }

  // .bottom-header__list
  &__list {
    display: flex;

    @media (min-width: toEm(992)) {
      flex-wrap: wrap;
      column-gap: toRem(40);
      row-gap: toRem(10);
    }

    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      gap: toRem(25);
    }

    @media (max-width: toEm(1299.98)) {
      column-gap: toRem(15);
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  // .bottom-header__item
  &__item {}

  // .bottom-header__link
  &__link {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 126.315789%;
    /* 24/19 */
    color: $greyColor;
    display: flex;
    align-items: center;
    gap: toRem(5);
    transition: color 0.4s;

    &::before {
      color: $yellowColor;
      font-size: toRem(24);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }

    @media (max-width: toEm(1159.98)) {
      font-size: toRem(16);
    }

    @media (max-width: toEm(991.98)) {
      // padding-block: toRem(10);
      font-size: toRem(20);
    }
  }
}