[class*=" _icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-empty:before {
  content: "\e93a";
}
._icon-check:before {
  content: "\e939";
}
._icon-minus:before {
  content: "\e937";
  color: #535353;
}
._icon-plus:before {
  content: "\e938";
  color: #535353;
}
._icon-closed:before {
  content: "\e936";
}
._icon-across:before {
  content: "\e935";
}
._icon-airplane:before {
  content: "\e900";
}
._icon-answer:before {
  content: "\e901";
}
._icon-arrow-down:before {
  content: "\e902";
}
._icon-arrow-down-circle:before {
  content: "\e903";
}
._icon-arrow-left:before {
  content: "\e904";
}
._icon-arrow-right:before {
  content: "\e905";
}
._icon-arrows-left-right:before {
  content: "\e906";
}
._icon-arrow-up:before {
  content: "\e907";
}
._icon-basket:before {
  content: "\e908";
}
._icon-big-cards:before {
  content: "\e909";
}
._icon-big-check-mark:before {
  content: "\e90a";
}
._icon-calendar:before {
  content: "\e90b";
}
._icon-car:before {
  content: "\e90c";
}
._icon-cards:before {
  content: "\e90d";
}
._icon-cashless:before {
  content: "\e90e";
}
._icon-check-mark:before {
  content: "\e90f";
}
._icon-coment:before {
  content: "\e910";
}
._icon-credit:before {
  content: "\e911";
}
._icon-curved-arrow:before {
  content: "\e912";
}
._icon-dagger:before {
  content: "\e913";
}
._icon-delivery:before {
  content: "\e914";
}
._icon-double-arrows-up:before {
  content: "\e915";
}
._icon-envelope:before {
  content: "\e916";
}
._icon-filter:before {
  content: "\e917";
}
._icon-geo-location:before {
  content: "\e918";
}
._icon-guarantee:before {
  content: "\e919";
}
._icon-heart:before {
  content: "\e91a";
}
._icon-info:before {
  content: "\e91b";
}
._icon-interest:before {
  content: "\e91c";
}
._icon-map:before {
  content: "\e91d";
}
._icon-menu-catalog:before {
  content: "\e91e";
}
._icon-pay:before {
  content: "\e91f";
}
._icon-phone:before {
  content: "\e920";
}
._icon-phone-lite:before {
  content: "\e921";
}
._icon-postpaid:before {
  content: "\e922";
}
._icon-question-mark:before {
  content: "\e923";
}
._icon-response:before {
  content: "\e924";
}
._icon-search:before {
  content: "\e925";
}
._icon-show-more:before {
  content: "\e926";
}
._icon-sign-krovato:before {
  content: "\e927";
}
._icon-sorting:before {
  content: "\e928";
}
._icon-star:before {
  content: "\e929";
}
._icon-s-telegram:before {
  content: "\e92a";
}
._icon-support:before {
  content: "\e92b";
}
._icon-s-viber:before {
  content: "\e92c";
}
._icon-s-whatsapp:before {
  content: "\e92d";
}
._icon-tag:before {
  content: "\e92e";
}
._icon-terminal:before {
  content: "\e92f";
}
._icon-to-hide-circle:before {
  content: "\e930";
}
._icon-two:before {
  content: "\e931";
}
._icon-useful:before {
  content: "\e932";
}
._icon-user:before {
  content: "\e933";
}
._icon-writing:before {
  content: "\e934";
}
